
<div class='columns is-centered'>
  <div class='column is-half'>
    <button class='button is-dark' id='choose-login'>Login</button>
    <button class='button is-dark' id='choose-create'>Create Account</button>
  </div>
</div>

<script type="module" src='../js/index.js'></script>